{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}

{% block content %}
<h1>Edit Post</h1>

<form action="/posts/{{post.id}}/edit" method="POST">
    <div>
        <label for="title">Title</label>
    </div>
    <div>
        <input type="text" name="title" value="{{post.title}}" required>
    </div>
    <br>
    <div>
        <label for="content">Content</label>
    </div>
    <textarea name="content" id="content" cols="30" rows="4">{{post.content}}</textarea>
    <div>
        <ul>
            {% for tag in tags %}
            <li><input type="checkbox" name="tags" value="{{tag.id}}" {% if tag in post.tags %} checked {% endif %}> {{tag.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
    <a class="btn btn-danger" href="/users/{{post.user.id}}">Cancel</a>
    <button class="btn btn-info">Edit</button>
    </div>
</form>

{% endblock %}