{% extends 'base.html' %}

{% block title %} New Post Form {% endblock %}

{% block content %}
<h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>

<form action="/users/{{user.id}}/posts/new" method="POST">
    <div>
        <label for="title">Title</label>
    </div>
    <div>
        <input type="text" name="title" placeholder="Enter title" required>
    </div>
    <br>
    <div>
        <label for="content">Content</label>
    </div>
    <textarea name="content" id="content" cols="30" rows="4"></textarea>
    <div>
        <ul>
            {% for tag in tags %}
            <li><input type="checkbox" name="tags" value="{{tag.id}}"> {{tag.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
    <a class="btn btn-danger btn-sm mt-1" href="/users/{{user.id}}">Cancel</a>
    <button class="btn btn-primary btn-sm mt-1">Add</button>
    </div>
</form>

{% endblock %}