{% extends 'base.html' %}

{% block title %} User Details {% endblock %}

{% block content %}
<div>
    <img src="{{user.image_url}}" height="100" width="100">
</div>
<div>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <a href="/users/{{user.id}}/edit">Edit</a>
    <a href="/users/{{user.id}}/delete">Delete</a>
</div>

<div>
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <a href="/users/{{user.id}}/posts/new">Add Post</a>
</div>
<br>
<div>
    <a href="/users">Home</a>
</div>

{% endblock %}