<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Cupcakes</title>
</head>
<body>
    <h1 id="h1">Cupcakes</h1>
    <ul class="list">
    </ul>

    <form class="form" action="">
        <div>
            <label for="flavor">Flavor</label>
            <input id="flavor" type="text" required>
        </div>
        <div>
            <label for="size">Size</label>
            <input id="size" type="text" required>
        </div>
        <div>
            <label for="rating">Rating</label>
            <input id="rating" type="number" required>
        </div>
        <div>
            <label for="image">Image URL</label>
            <input id="image" type="url" required>
        </div>
        <button class="btn" >Submit</button>
    </form>

    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="../static/app.js"></script>

</body>
</html>
